// ==============================
// Override Variables
// 覆盖变量
// ==============================
@import "./vendors/_bootstrap";

/* PWA update popup */
#notification {
    @-webkit-keyframes popup {
      from {
        opacity: 0;
        bottom: 0;
      }
    }
  
    @keyframes popup {
      from {
        opacity: 0;
        bottom: 0;
      }
    }
  
    .toast-header {
      background: none;
      border-bottom: none;
      color: inherit;
    }
  
    .toast-body {
      font-family: Lato, sans-serif;
      line-height: 1.25rem;
  
      button {
        font-size: 90%;
        min-width: 4rem;
      }
    }
  
    &.toast {
      &.show {
        display: block;
        min-width: 20rem;
        border-radius: 0.5rem;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
        color: #1b1b1eba;
        position: fixed;
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        -webkit-animation: popup 0.8s;
        animation: popup 0.8s;
      }
    }
  }
  